


/* Start of Index Styles */


.icon-img {
        max-width: 40px;
        max-height: 40px; 
        border-radius: 5px;
    }
.main_banner_div {
    background-color: #0065cc;
    color: white;   
}

/* Animation for index.html */
@keyframes raiseUp {
    0% {
        opacity: 0;
        transform: translateY(40px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.raise-up {
    opacity: 0; 
}

.raise-up:nth-child(1) {
    animation: raiseUp 5s cubic-bezier(0.19, 1, 0.22, 1) 0s both; /* Delay the first heading animation by 0 seconds */
}

.raise-up:nth-child(2) {
    animation: raiseUp 5s cubic-bezier(0.19, 1, 0.22, 1) 1s both; /* Delay the second heading animation by 1 second */
}

.raise-up:nth-child(3) {
    animation: raiseUp 5s cubic-bezier(0.19, 1, 0.22, 1) 2s both; /* Delay the third heading animation by 2 seconds */
}

.raise-up:nth-child(4) {
    animation: raiseUp 5s cubic-bezier(0.19, 1, 0.22, 1) 3s both; /* Delay the fourth heading animation by 3 seconds */
}

.main_banner_div h1 {
    font-size: 85px;
    font-weight: 700;
    font-family: Poppins;
}

#carouselExampleSlidesOnly .carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleSlidesOnly .carousel-item {
    text-align: center; 
}

#carouselSlides img {
    max-height: 600px;
    max-width: 800px;
    margin: auto; 
}

/* End of Index Styles */


/* Start of Home Styles */

#open_street_map_scalloway {
    height: 40%;
    width: 80%;
    border: solid;
    border-radius: 10px;
}

/* End of Home Styles */

/* Start on History styles */



.history_image_left {
    background-color: lightgrey;
     overflow: auto;
     border-style: solid;
}


.history_image_left img {
    width: 50%;
    float: left;
    margin-right: 20px;
}


.history_image_right {
    background-color: lightgray;
    border-style: solid;
    overflow: auto;
    
}

.history_image_right img{
    width: 50%;
    float: right;
    margin-left: 20px;
    
}

.history_image_left p {
    padding: 20px;
}

.history_image_right p {
    padding: 20px 20px 20px 0; /* Adds padding to the right side only */
}

/* Start of History Styles */