#open_street_map_scalloway {
    height: 30%;
    width: 80%;
    border: solid;
    border-radius: 10px;
}

.main_banner_div {
    background-color: #0065cc;
    color: white;   
}

.main_banner_div h1 {
    font-size: 52px;
}


.main_page_images_div {
    background-color: red;

}
.main_page_images_div img{
    height: 300px;
    width: 500px;
    border-style: solid;
}