


/* Start of Index Styles */
.main_banner_div {
    background-color: #0065cc;
    color: white;   
}

.main_banner_div h1 {
    font-size: 52px;
}

.main_page_images_div {
    background-color: red;

}
.main_page_images_div img{
    height: 300px;
    width: 500px;
    border-style: solid;
}
#open_street_map_scalloway {
    height: 30%;
    width: 80%;
    border: solid;
    border-radius: 10px;
}

/* End of Index Styles */

/* Start on History styles */



.history_image_left {
    background-color: lightgrey;
     overflow: auto;
     border-style: solid;
}


.history_image_left img {
    width: 50%;
    float: left;
    margin-right: 20px;
}


.history_image_right {
    background-color: lightgray;
    border-style: solid;
    overflow: auto;
    
}

.history_image_right img{
    width: 50%;
    float: right;
    margin-left: 20px;
    
}

.history_image_left p {
    padding: 20px;
}

.history_image_right p {
    padding: 20px 20px 20px 0; /* Adds padding to the right side only */
}

/* Start of History Styles */