


/* Start of Index Styles */


.icon-img {
        max-width: 40px;
        max-height: 40px; 
        border-radius: 5px;
    }
.main_banner_div {
    background-color: #0065cc;
    color: white;   
}


.main_banner_div h1 {
    font-size: 52px;
}






/* End of Index Styles */


/* End of Home Styles */

#open_street_map_scalloway {
    height: 40%;
    width: 80%;
    border: solid;
    border-radius: 10px;
}

/* End of Home Styles */

/* Start on History styles */



.history_image_left {
    background-color: lightgrey;
     overflow: auto;
     border-style: solid;
}


.history_image_left img {
    width: 50%;
    float: left;
    margin-right: 20px;
}


.history_image_right {
    background-color: lightgray;
    border-style: solid;
    overflow: auto;
    
}

.history_image_right img{
    width: 50%;
    float: right;
    margin-left: 20px;
    
}

.history_image_left p {
    padding: 20px;
}

.history_image_right p {
    padding: 20px 20px 20px 0; /* Adds padding to the right side only */
}

/* Start of History Styles */